*.pyc
*.blend[1-9]
__pycache__
.DS_Store
/node_modules
*.psd
*.zip
*.txt~
*.lnk

/creator-labs-files/CL-archive/original-export.json
/creator-labs-files/CL-archive/redact-info.sh
/creator-labs-files/CL-archive/remove-draft.sh